body,h1,h2,h3,h4,h5,h6,{
    font-family: 'Roboto', sans-serif;
}
.img{
    max-width: 100%;
}
/*  headere section  */
.jon-header .navber-brand{
font-size: 25px;
font-weight: 500;
}

.jon-header a img {
	width: 80px;
}
.jon-menu .nav-link{
 padding-left:20px !important;
padding-right:  25px !important;
}
/*  slider section  */
.slider-section{
    background: url(https://i.ibb.co/DY0x149/mbr-10.jpg) no-repeat  center ;
    padding: 150px 0;
    position: relative;
    z-index: 1;
    background-size: cover;
}
.slider-section::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0,.6);
    z-index: -1;

}
.slider-caption h4{
margin-bottom: 30px ;
}
.slider-caption h2{
margin-bottom: 40px;
font-size: 50px;
}

.slider-caption .btn{
background: #5ba533;
padding: 15px 17px ;
font-size: 23px ;
}
.slider-caption .form-control{
    padding: 18px 20px;
}

/*about-section  */

.about-section{
    background: #f7f9ff;
}

.about-text-left{
    margin-top: 120px;
}


.about-text-left .lead{
    font-size: 25px;
    line-height: 2.3rem;
}

/* feature section CSS */
.feature-item{
    height: 300px;
    box-shadow:2.5px 4.33px 30px 0 rgba(64,87, 191, 0.1);
}
.left-img-sec{
    width: 40%;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}

.left-test-sec{
    width: 60%;
    padding: 25px;
}
.left-img-sec img{
height: 100%;
width: auto !important ;
max-width: inherit;
position: relative;
left: -110px;
}
/* portfolio item css  */
.p-item{

}
.p-item a{
display: block;
position: relative;
}
.p-item a::after{
content: "";
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background: rgba(0, 110, 255, 0.405);
opacity: 0;
visibility: visible;

transition:.5s ;
}
.p-item:hover a::after{
    opacity: 1;
    visibility: visible;

}
/* pricing item  */
.pricing-item{
background: #FFF;
padding: 50px;
box-shadow:2.5px 4.33px 30px 0 rgba(64,87, 191, 0.2);
border-radius: 5px;
}
.pricing-item h1{

}

.pricing-item h5{

}

.pricing-item ul{
list-style: none;
margin-left: 0;
padding-left: 0;
margin-bottom: 30px;
}

.pricing-item ul li{
margin-top: 20px;
margin-bottom: 20px;
font-size: 25px;
color: #777;
}


.pricing-item ul li span{
color: #657be0;
font-size: 25px;
font-weight: bold;
width: 30px;
display: inline-block;
}

.pricing-item-button{

}

.pricing-item-button a{
border-color: #657be0;
border-width: 2px;
color: #657be0;
padding: 15px 30px;
font-size: 24px;
box-shadow:2.5px 4.33px 30px 0 rgba(64,87, 191, 0.2);

}
/* testimonial nsection  */
.author-info{
    width: 220px;
    margin: auto;
}
.author-info img{
width: 85px;
margin-right: 10px;
}

.user-details{
    text-align: left;
    position: relative;
    top: 18px;
}


/* about section  */
.about-item{
margin-top: 90px;
}
.about-item .card{

}
.about-item .card img{
width: 120px;
height: auto;
margin-top: -70px;
margin-left: 10px;
}

/* contnt us css */
.contnt-form-div .card{
    box-shadow:2.5px 4.33px 30px 0 rgba(64,87, 191, 0.2) ;
    padding: 40px;
}
img{
max-width: 100%;
}





